.light-button{
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #121212;
    font-size: 17px;
    cursor: pointer;
    margin: 10px 0px;
    transition: 0.5s;
}
.light-button:hover{
   background: none;
   border: 1px solid #fff;
   color: #fff;
}

.orange-button{
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin: 10px 0px;
    transition: 0.5s;
}
.orange-button:hover{
   background: none;
   border: 1px solid orange;
   color: orange;
}